.App {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: rgb(109, 91, 58);
  padding: 10px 30px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background: #666;
  padding: 10px 30px;
  height: 93vh;
}

.action-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 10px 30px;
}

.action-buttons button {
  width: 140px;
  height: 60px;
  margin: 30px;
  font-size: 1.5rem;
  border-radius: 15px;
  background: rgba(161, 176, 23, 0.675);
}

.actual-info {
  height: 30px;
}

.hidden-message {
  display: none;
}

.table-colors {
  height: 300px;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
